* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.sidebar {
  animation-name: slide-top;
  animation-duration: 2s;
}

@keyframes slide-top {
  from {
    transform: translateX(-700px);
  }
  to {
    transform: translateX(0);
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero {
  animation: slide;
  animation-duration: 2s;
}

@keyframes slide {
  from {
    transform: translateY(300px);
  }

  to {
    transform: translateY(0px);
  }
}

.close {
  animation: rotate;
  animation-duration: 1s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.message {
  animation: opacity;
  animation-duration: 5s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 10;
  }
}
